@use "../../index.scss" as scss;

.Box {
  display: flex;
  padding-left: 7%;
  padding-right: 7%;
  gap: 5%;
  padding-top: 10%;
}
.Box > div > span {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.035em;
  text-align: left;
  text-justify: inter-cluster;
}


@include scss.tablet {
  .Box {
    display: grid;
    padding-top: 10%;
    text-justify: auto;
  }
  .Box > div > span {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 350;
    line-height: 22px;
    letter-spacing: 0.035em;
    text-align: left;;
    text-justify: inter-cluster;
  }
}
